<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="powershell" value="C:\Windows\system32\WindowsPowerShell\v1.0\powershell.exe" />
		<add key="sudoers" value="C:\Program Files\sudoWs\sudoers\sudoers.txt" />
		<add key="certificate" value="C:\Program Files\sudoWs\certificate\sudoWs_certificate.pfx" />
		<add key="certificate_password" value="none" />
	</appSettings>
</configuration>
